@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red;  */
}

:root {
    /* Text colors */

    --text-orange: #FD772B;
    --text-white: white;
    --text-grey: #AAAAAA;
    --text-purple: #6a47b8;

    /* Bg colors */
    --background: white;
    --nav-bg: #1e1e1e;
}

section {
    background-image: url(./img/backgroun-login\ \(20231023111526\).png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--nav-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    border-radius: 10px;
}

/* IMAGE */

.img_container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_container img {
    width: 600px;
    border-radius: 10px 0 0 10px;
}

/* FORM */

.form_container {
    width: 50%;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-family: 'Gentium Book Plus', serif;
}

.form_container h1 {
    text-align: center;
    color: var(--text-orange);
    font-size: 30px;
}

form input {
    width: 40%;
    outline: none;
    padding: 10px;
    background-color: var(--nav-bg);
    border: 1px solid white;
    border-radius: 2px;
    color: #AAAAAA;
}

.btn {
    background: none;
    color: var(--text-orange);
    border: 2px solid;
    padding: 5px 5px;
    font-size: 13px;
    transition: all 0.2s;
    border-radius: 2px;
    font-family: 'Gentium Book Plus', serif;
}

button:hover {
    border-color: var(--text-purple);
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em var(--text-purple);
    transform: translateY(-0.15em);
    cursor: pointer;
}

a {
    color: var(--text-orange);
    font-weight: lighter;
    font-size: 10px;
}

/* MEDIAQUERIES */

@media (max-width: 1209px) {
    .img_container img {
        width: 500px;
    }
}

@media (max-width: 1008px) {
    .img_container img {
        width: 450px;
    }
}

@media (max-width: 907px) {
    .img_container img {
        width: 350px;
    }
}

@media (max-width: 865px) {
   form input {
    width: 45%;
   }
}

@media (max-width: 711px) {
    .img_container img {
        width: 325px;
    }
}

@media (max-width: 677px) {
    .img_container img {
        width: 310px;
    }
}

@media (max-width: 626px) {
    .img_container img {
        width: 295px;
    }
}

@media (max-width: 608px) {
    .container {
        flex-direction: column;
    }

    .img_container img {
        display: none;
    }

    h1 {
        font-size: 32px;
    }

    .btn {
        font-size: 17px;
        margin-top: 10px;
    }

    a {
        margin-bottom: 5px;
    }

    form input {
        width: 80%;
    }

}