:root {
    /* Bg colors */
    --background: white;
    --nav-bg: #1e1e1e;
    --body-bg: #f5f5e4;
    --card1-bg: #E2B27A;
    --card2-bg: #96BE4F;
    --card3-bg: #45618B;
    --card4-bg: #B03216;
    --form-bg: #D9D9D9;

    /* Text colors */

    --text-orange: #FD772B;
    --text-white: white;
    --text-grey: #AAAAAA;

    /* Fonts sizes */

    --fontSize-h1: 40px;
    --fontSize-h2: 28px;
    /* --fontSize-h3: */
    --fontSize-mainText: 20px;
    --fontSize-mQuerie1: 35px;
    --fontSize-mQuerie2: 25px;
}

/* TABLET */

@media (max-width: 992px) {

    .hero h1 {
        font-size: var(--fontSize-mQuerie1);
        width: 600px;
    }

    .cards-items {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 862px) {

    .navbar ul {
        background-color: var(--nav-bg);
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .ulNavigation li {
        padding: 10px;
    }

    .navbar i {
        display: block;
        margin-right: 10px;
    }

    nav label {
        order: 2;
    }

    #toggle-menu:checked~.navbar-list {
        display: flex;
        padding: 10px;
    }

    .prog {
        display: none;
    }
}

@media (max-width: 780px) {
    .about_content {
        flex-direction: column;
        text-align: center;
    }

    .about_content p {
        width: 100%;
    }
}

@media (max-width: 650px) {

    .hero h1 {
        font-size: 27px;
        width: 520px;
    }

    .about {
        padding: 50px;
    }

    .about_content {
        flex-direction: column;
        padding: 30px;
        gap: 10px;
    }

    .about_text {
        text-align: center;
        width: 300px;
    }

    .about_image {
        width: 250px;
    }

    .img-1 {
        width: 250px;
    }

    .img-1_container {
        width: 270px;
        background-color: var(--nav-bg);
    }

    .img-2 {
        width: 400px;
    }

    .img-2_container {
        width: 420px;
        background-color: var(--card2-bg);
    }

    .img-3 {
        width: 250px;
    }

    .img-3_container {
        width: 270px;
        background-color: var(--card3-bg);
    }

    .img-4 {
        width: 300px;
    }

    .img-4_container {
        width: 320px;
        background-color: var(--card4-bg);
    }

    .footer_content img {
        height: 100px;
    }

    .contact {
        background-position: center;
    }

}

@media (max-width: 487px) {

    .hero h1 {
        padding: 20px;
    }

    .about {
        padding: 50px 0px 20px 0px;
    }

    .about_image {
        width: 250px;
    }

    .img-1 {
        width: 200px;
    }

    .img-1_container {
        width: 220px;
    }

    .img-2 {
        width: 260px;
    }

    .img-2_container {
        width: 280px;
    }

    .img-4 {
        width: 260px;
    }

    .img-4_container {
        width: 280px;
    }

    .cards {
        padding: 20px;
    }

    .cards-items h3 {
        font-size: 10px
    }

}

@media (max-width: 410px) {

    nav {
        height: 70px;
    }

    .img-2 {
        width: 245px;
    }

    .img-2_container {
        width: 265px;
    }

    .img-4 {
        width: 245px;
    }

    .img-4_container {
        width: 265px;
    }

    .cards {
        padding: 20px;
    }

    .cards-items h3 {
        font-size: 10px
    }

    

}