@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

:root {
    /* Bg colors */
    --background: white;
    --nav-bg: #1e1e1e;
    --body-bg: #f5f5e4;
    --card1-bg: #E2B27A;
    --card2-bg: #96BE4F;
    --card3-bg: #45618B;
    --card4-bg: #B03216;
    --form-bg: #D9D9D9;

    /* Text colors */

    --text-orange: #FD772B;
    --text-white: white;
    --text-grey: #AAAAAA;

    /* Fonts sizes */

    --fontSize-h1: 50px;
    --fontSize-h2: 28px;
    --fontSize-h3: 24px --fontSize-mainText: 20px;
    --fontSize-mQuerie1: 40px
}

body {
    background-color: var(--body-bg)
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.navbar {
    position: fixed;
    z-index: 1;
    background-color: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.navbar-list {
    margin-right: 20px;
}

.logo {
    width: 100px;
    height: 60px;
}

ul {
    display: flex;
    gap: 30px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-white);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.active {
    color: var(--text-orange);
}

/* Menu hamburguesa */

.navbar i {
    font-size: 30px;
    display: none;
}

#toggle-menu {
    display: none;
}



/* HERO */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-top: 60px;
    background-image: url(./img/fondoHero\ \(20231017112203\).png);
    background-position: 5% 95%;
}

h1 {
    color: var(--text-orange);
    text-transform: uppercase;
    width: 800px;
    font-family: 'Gentium Book Plus', serif;
    font-size: 50px;
    text-align: center;
}

/* ABOUT */

.about img {
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(163, 163, 163);
}

.about {
    max-width: 1200px;
    width: 100%;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.about_image {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.about h2 {
    color: var(--text-orange);
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 25px;
    /* text-transform: uppercase; */
}

.about_text {
    width: 50%;
    color: var(--text-orange);
    font-family: 'Lora', serif;
    font-size: var(--fontSize-mainText);
    font-weight: 300;
}

/* CARDS */
.cards {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0 0 0;
}

.cards-items {
    max-width: 1200px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    color: var(--body-bg);
}

.cards h2 {
    color: var(--text-orange);
    text-align: center;
    font-size: var(--fontSize-h2);
    text-transform: uppercase;
    font-family: 'Lora', serif;
}

.img-1 {
    width: 300px;
    border-radius: 10px;
    margin-top: 9px;
}

.img-1_container {
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    border-radius: 10px;
    transition: all 0.5s
}

.img-1_container:hover {
    background-color: var(--card1-bg);
    translate: -5px -5px;
    box-shadow: 5px 5px 10px rgb(149, 149, 149);
}

.img-2 {
    width: 500px;
    border-radius: 10px;
    margin-top: 9px;
}

.img-2_container {
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 520px;
    border-radius: 10px;
    transition: all 0.5s;
}

.img-2_container:hover {
    background-color: var(--card2-bg);
    translate: -5px -5px;
    box-shadow: 5px 5px 10px rgb(149, 149, 149);
}

.img-3 {
    width: 300px;
    border-radius: 10px;
    margin-top: 9px;
}

.img-3_container {
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    border-radius: 10px;
    transition: all 0.5s;
}

.img-3_container:hover {
    background-color: var(--card3-bg);
    translate: -5px -5px;
    box-shadow: 5px 5px 10px rgb(149, 149, 149);
}

.img-4 {
    width: 350px;
    border-radius: 10px;
    margin-top: 9px;
}

.img-4_container {
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    border-radius: 10px;
    transition: all 0.5s;
}

.img-4_container:hover {
    background-color: var(--card4-bg);
    translate: -5px -5px;
    box-shadow: 5px 5px 10px rgb(149, 149, 149);
}

.cards-items h3 {
    padding: 5px;
}


/* CONTACT */
/* contact me */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    font-family: 'Gentium Book Plus', serif;
    padding: 50px;
    background-image: url(./img/background-footer\ \(20231022051654\).png);
    background-size: cover;
    background-position: 95% 5%;
}

.contact_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

h3 {
    font-size: var(--fontSize-mainText);
}

h4 {
    font-size: 15px;
}

.contact h3, h4 {
    text-align: center;
    text-decoration: underline;
    width: fit-content;
    color: var(--text-orange);
}

.contact i {
    font-size: 15px;
}

.contact span {
    color: var(--text-orange);
    font-size: 15px;
}

.items__mail {
    display: flex;
    align-items: center;
    gap: 10px;
}

.items__dir {
    display: flex;
    align-items: center;
    gap: 10px;
}

.items__phone {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* commisions */

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-orange);
    padding: 10px;
}

form h4 {
    font-size: 15px;
    text-decoration: none;
}

form input {
    height: 25px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

textarea {
    height: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;

}

/* FOOTER */

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--nav-bg);
    width: 100%;
    height: 150px;  
}

footer img {
    height: 145px;
}