@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Bg colors */
    --background: white;
    --nav-bg: #1e1e1e;
    --body-bg: #f5f5e4;
    --card1-bg: #E2B27A;
    --card2-bg: #96BE4F;
    --card3-bg: #45618B;
    --card4-bg: #B03216;
    --form-bg: #D9D9D9;

    /* Text colors */

    --text-orange: #FD772B;
    --text-white: white;
    --text-grey: #AAAAAA;
}

body {
    background-color: var(--body-bg)
}

/* HEADER */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    position: fixed;
    background-color: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

nav img {
    width: 120px;
    padding-left: 20px;
}

ul {
    display: flex;
    gap: 30px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-white);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.active {
    color: var(--text-orange);
}

.log_in {
    padding-right: 20px;
}

/* HERO */

.hero {
    margin-top: 60px;
    background-image: url(./img/fondoHero\ \(20231017112203\).png);
    background-position: 1% 99%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    padding: 50px;
}

.hero_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 45px;
    color: var(--text-orange);
    font-family: 'Gentium Book Plus', serif;
}

/* ABOUT */

.about img {
    width: 250px;
    border-radius: 8px;
}

.about {
    max-width: 1200px;
    width: 800px;
}

.about_content {
    display: flex;
    align-items: center;
    padding: 50px;
}

.about_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 333.33px;
    padding: 50px;
    border-radius: 0 20px 20px 0;
}

.about_image {
    display: flex;
    align-items: center;
}

.about h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--text-orange);
    text-align: center;
    font-family: 'Gentium Book Plus', serif;
    padding: 50px 0 0 0;

}

.about p {
    font-size: 20px;
}

.about_text p {
    font-size: 20px;
    font-weight: lighter;
    color: var(--text-orange);
    font-family: 'Gentium Book Plus', serif;
    
}

/* CARDS */

.img-1 {
    margin: 15px 0;
    width: 277px;
    height: 468px;
    border-radius: 10px;
}

.img-2 {
    margin: 15px 0;
    width: 787px;
    height: 468px;
    border-radius: 10px;
}

.img-3 {
    margin: 15px 0;
    width: 380px;
    height: 496px;
    border-radius: 10px;
}

.img-4 {
    margin: 15px 0;
    width: 574px;
    height: 574px;
    border-radius: 10px;
}

.img-1_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg);
    border-radius: 20px;
    width: 309px;
    height: 547px;
    transition: all 0.5s;
}

.img-1_container:hover {
    background-color: var(--card1-bg);
    transform: translate(0, -5px);
    box-shadow: 0 0 10px grey;
}

.img-2_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 821px;
    height: 547px;
    transition: all 0.5s;
}

.img-2_container:hover {
    background-color: var(--card2-bg);
    transform: translate(0, -5px);
    box-shadow: 0 0 10px grey;
}

.img-3_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg);
    border-radius: 20px;
    width: 418px;
    height: 580px;
    transition: all 0.5s;
}

.img-3_container:hover {
    background-color: var(--card3-bg);
    transform: translate(0, -5px);
    box-shadow: 0 0 10px grey;
}

.img-4_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg);
    border-radius: 20px;
    width: 618px;
    height: 665px;
    transition: all 0.5s;
}

.img-4_container:hover {
    background-color: var(--card4-bg);
    transform: translate(0, -5px);
    box-shadow: 0 0 10px grey;
}

.cards h2 {
    font-size: 30px;
    color: var(--text-orange);
    text-transform: uppercase;
    font-family: 'Gentium Book Plus', serif;
    text-align: center;
    padding: 50px 0;
}

.cards {
    max-width: 1200px;
    width: 100%;
    height: 1500px;
    color: var(--body-bg);
}

.cards-items {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* CONTACT */
/* contact me */

.contact {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 600px;
    font-family: 'Gentium Book Plus', serif;
}

.contact_me {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    width: 50%;
    gap: 20px;
    color: var(--text-orange);
}

.contact_me h3 {
    text-align: center;
}

.contact_items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* commisions */
.contact {
    padding: 50px;
}

.comissions {
    background-color: var(--text-orange);
    width: 50%;
    border-radius: 0 10px 10px 0;
    padding: 20px;
    color: white;

}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    height: 25px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

textarea {
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;

}

/* FOOTER */

footer {
    background-color: var(--nav-bg);
    width: 100%;
    height: 150px;
    margin-top: 50px;
}

.footer_content {
    height: 150px;
}

footer img {
    height: 145px;
    margin-left: 1100px;
}